@model IEnumerable<Benefacts.Models.Relative>
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.U)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U.UId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
