@model MVCASPCore.Models.Users

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>


<form asp-action="Delete">
    <h3>Are you sure?</h3>
    <input type="hidden" asp-for="UId" />
    <input type="submit" value="Yes" class="btn btn-default" />
</form>
<div>
    <h4>Users</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.FName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@ViewData["UId"]">Details</a> |
                    <a asp-action="Edit" asp-route-id="@ViewData["UId"]">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />


</div>
